@import "variables";
@import "bootstrap";
@import "bootstrap/theme";
@import "octicons";

// Reset & Basics (Inspired by Eric Meyer)

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {
	quotes: none;
	&:before, &:after { content: ''; content: none; } }
table { border-collapse: collapse; border-spacing: 0; }

// Typography

body {
	background: $gray-lighter;
	font: 14px/23px $main-font;
	color: #222;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

article {
	p {
	font-size: 1.1em;
	font-weight: 100;
	line-height: 1.5;
	margin: 1.25em 0;
	}
}

h1, h2, h3 { font-weight: bold; }

h1 {
	font-size: 2em;
	margin-bottom: 4px;
}

h2 {
	font-size: 1.4em;
	margin-top: 30px;
}

h3 { font-size: 1.2em; }

em { font-style: italic; }
strong { font-weight: bold; }

blockquote {
	margin: 20px 0 20px 3px;
	padding: 1px 15px;
	border-left: 2px solid #ddd;

	p {
		color: #777;
		font-style: normal;
		margin: 3px 0;
	}

	cite {
		display: block;
		padding-top: 5px;
		font-size: 0.85em;
		color: #555;
		&:before { content: "\2014 \0020"; }
	}
}

hr {
	clear: both;
	border: none;
	height: 1px;
	background-color: #ebebeb;
	margin: 10px 5px;
}

a {
	color: $gray-darker;
	text-decoration: none;
	font-weight: bold;
	outline: 0;

	&:hover, &:focus {
		color: $gray-dark;
		text-decoration: underline;
	}

	&.icon {
		padding: 0 2px;
		font-size: 20px;
		color: $light-primary-color;
		transition: color 0.25s ease;

		&:hover {
			text-decoration: none;
			color: $gray-lighter;
			@each $icon, $colour in $social-icons {
				&.fa-#{$icon} { color: $colour; }
			}
		}
	}
}

ul, ol {
	margin: 1.25em 2.25em;

	ul, ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

ul { list-style: square outside; }
ol { list-style: decimal; }

table:not(.codehilitetable) {
	width: 100%;
	th {
		text-align: center;
		background-color: $gray-dark;
		color: $gray-lighter;
		height: 50px;
	}
	td {
		text-align: left;
	}
	th, td {
		padding: 12px 15px;
		border-bottom: 1px solid #e1e1e1;

		&:first-child {
			padding-left: 15px;
		}

		&:last-child { padding-right: 0; }
	}
}

abbr, acronym, .abbr {
	cursor: help;
	border-bottom: 1px dashed #444;
}

.footnote-ref {
	padding-left: 1px;
	font-size: .7em;
	line-height: 0.5em;
	vertical-align: baseline;
	position: relative;
	top: -0.7em;
}

code {
	font-size: 0.85em;
	font-family: $code-font;
	background: #f5f5f5;
	padding: 0.1em 0.3em;
	border-radius: 3px;
}

.codehilitetable {
	font: 0.85em/1.5 $code-font;
	overflow-x: auto;
	display: block;
	border-left: 3px solid $primary-color;
	border-radius: 2px;
	padding: 0.8em 0;

	tbody tr { display: block; } // fixes line numbers on Firefox
}

.linenos {
	border-right: 1px solid #3d3d3d;
	padding: 0 0.7em;
	width: 1.2em;
	text-align: right;
	position: absolute;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.codehilite {
	margin: 0 1em 0 3.5em;
}

.admonition {
	background: #fafafa;
	margin: 20px 0;
	padding: 10px 25px;
	border: solid #ccc;
	border-width: 1px 0;
}

.admonition-title {
	@extend h2;
	margin: 12px 0;
}

// Layout
html, body {
	height: 100%;
	overflow-x: hidden;
}

// Toggle-styles

#wrapper {
	padding-left: 0;

	&.toggled {
	  padding-left: -25%;

		#sidebar-wrapper {
		  width: 25%;
		}

		#page-content-wrapper {
			width: 75%;
			left: 25%;
		}
	}
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    background: $dark-primary-color;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 25px 20px;
		margin: 0 auto;

}

#menu-toggle{
		text-align: right;
		position: relative;
		display: block;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		border-width: 0;
		outline: none;
		border-radius: 2px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
		background-color: $primary-color;
		color: $gray-lighter;
		transition: background-color .3s;
		&:hover, &:focus {
			background-color: $dark-primary-color;
			span {
				color: $accent-colour;
			}
		}
		& > * {
			position: relative;
		}
		span {
			display: block;
			padding: 12px 24px;
			color: $gray-lighter;
		}
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 0;
			padding-top: 0;
			border-radius: 100%;
			background-color: rgba(236, 240, 241, .3);
			transform: translate(-50%, -50%);
		}
		&:active:before {
			width: 120%;
			padding-top: 120%;
			transition: width .2s ease-out, padding-top .2s ease-out;
		}
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 50px;
    padding: 0 25px;
    list-style: none;
		text-align: center;

		li {
		  line-height: 40px;

			a {
		    text-decoration: none;
				color: $gray-lighter;

				&:hover {
					text-decoration: none;
					color: $accent-colour;
				}
				&:active, &:focus {
					text-decoration: none;
					color: $gray-light;
				}
			}
		}
	}

.sidebar-nav > .sidebar-brand {
	  font-size: 18px;
	  line-height: 60px;

		a {

			&:hover {
		    background: none;
			}
		}
	}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

article {
	padding: 25px;
	width: 100%;

	img {
	max-width: 95%;
	margin: 0 auto;
	display: block;
	}
}

footer {
	clear: both;
	// text-align: center;
	p {
		margin: 12px 0;
		padding-bottom: 10px;
		text-align: center;
	}

	.octicon-heart {
		color: $red-a100;
	}

	.octicon-code {
		color: grey;
	}
}

aside {
	position: fixed;
	width: 33.33%;
	z-index: 9999;
	left: 25px;

	div {
			margin: 12px 0;
			text-align: center;
	}
}

#avatar {
	margin: 0 auto;
	width: 128px;
	border-radius: 50%;
	border: 2px solid $gray-lighter;
	padding: 3px;
	vertical-align: top;
	display: inline-block;
}

#name {
	font-size: 1.8em;
	line-height: 1.35;
	letter-spacing: -0.5px;
	color: $gray-lighter;
}

#bio {
	font-size: 0.85em;
	line-height: 1.5;
	color: $gray-lighter
}

#social {
	letter-spacing: 10px;
}

#sidebar-links {
	color: $gray-light;
}

#sidebar-divider {
	display: none;  // only appears on mobile
}

.title {
	float: left;
}

.date {
	float: right;
	display: block;
}

.content {
	clear: both;
	overflow: hidden;

	hr { margin: 25px 10px; }
}

.summary p {
	margin-bottom: 6px;
}

#view-archives {
	overflow: auto;
	text-align: right;
}

#back-to-home, #related-articles {
	overflow: auto;
	margin-top: 20px;
}

#next-neighbour { float: left; }
#prev-neighbour { float: right; }

// Media Queries

@media #{$handheld} {
	// On non-desktop displays, fix the width of the
	// sidebar, and centre it at the top of the page.
	.container {
		padding-top: 45px;
		width: 90%;
	}

	#wrapper {
		padding-left: 0;
		&.toggled {
			padding-left: -50%;

			#sidebar-wrapper {
					width: 0;
			}

			#page-content-wrapper {
					position: relative;
					margin: 0 auto;
					width: 90%;
					left: 0;
			}
		}
	}

	#sidebar-wrapper {
			width: 50%;
	}

	#page-content-wrapper {
			padding: 20px;
			position: relative;
			width: 90%;
			left: 50%;
	}

	aside {
		max-width: 280px;
		margin: 0 auto;
		padding-top: 5px;
		vertical-align: middle;

		div { margin: 5px 0; }
	}

	// #avatar { float: left; }
	#social .icon { padding: 0 1px; }
	article { margin-top: 14px; }
}


@media #{$mobile} {
	.title, .date {
		text-align: center;
		float: none;
		line-height: 1.25;
	}

	#sidebar-divider { display: block; }

	#wrapper {
		padding-left: 0;
		&.toggled {
			padding-left: -80%;

			#sidebar-wrapper {
					width: 0;
			}

			#page-content-wrapper {
					position: relative;
					margin: 0 auto;
					width: 100%;
					left: 0;
			}
		}
	}

	#sidebar-wrapper {
			width: 80%;
	}

	#page-content-wrapper {
			padding: 20px;
			position: relative;
			width: 100%;
			left: 80%;
	}
}

@media only print {
	footer, aside, #disqus_thread, #related-articles, #back-to-home {
		display: none !important;
	}

	.container { width: 85%; }
	p a:after { content:" ["attr(href)"]"; }
	.linenos { border-right: none; }
}
