{% extends 'base.html' %}

{% block title %}Page Not Found | {{ SITENAME }}{% endblock %}
{% block meta %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}
	<h1 class="title">Page Not Found</h1>
	<div class="content">
		<p>The requested page could not be found. Perhaps try looking through the <a href="/archive/">post archive</a>?</p>
	</div>
	<div id="back-to-home">
		<a href="/">
			<span id="404-back-to-home">
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
					<i class="material-icons" role="presentation">home</i>
				</button>
			</span>
			<span class="mdl-tooltip mdl-tooltip--large mdl-tooltip--right" for="404-back-to-home">Back to Home</span>
			<!-- &laquo; Back to Home -->
		</a>
	</div>
{% endblock %}
