{% extends 'base.html' %}

{% block title %}Archive for {{ period | reverse | join(' ') }} | {{ SITENAME }}{% endblock %}
{% block meta %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}
	<h1>Archive for {{ period | reverse | join(' ') }}</h1>
	<div class="content">
	{% for year, _ in dates | groupby('date.year') %}
		{% for month, articles in dates | groupby('date.month') %}
			{% if not period[1] %}
			<h2><a href="/{{ articles[0].date.strftime('%Y/%m') }}/">{{ articles[0].date.strftime('%B') }}</a></h2>
			{% endif %}
			<ul>
				{% for article in articles | sort(attribute='date') %}
				<li><a href="/{{ article.url }}">{{ article.title }}</a> &raquo; {{ article.locale_date }}</li>
				{% endfor %}
			</ul>
		{% endfor %}
	{% endfor %}
	</div>
	<div id="back-to-home">
		<a href="/">
			<span id="period_archives-back-home">
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
					<i class="material-icons" role="presentation">home</i>
				</button>
			</span>
			<span class="mdl-tooltip mdl-tooltip--large mdl-tooltip--right" for="period_archives-back-home">Back to Home</span>
			&laquo; Back to Home
		</a>
	</div>
{% endblock %}
